*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: 'Montserrat';
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #F0FFFF;
}
.MuiPaper-root.MuiMenu-paper { 
  background-color: #2F2F2F; 
  color: #fff;
}
.input-label:focus{
  color: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #8F6340;
  border-radius: 3px;
}
.nav-links{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.nav-links2{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.nav-links2{
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.title{
  background: linear-gradient(to right,  #758F93, #8F6340) ;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}
.loader{
    width: 100%;
    height: 100%;
}
